<template>
  <v-container fluid class="back-cover">
    <v-card>
      <v-toolbar
        class="elevation-0 primary--text"
        light
      >
        <v-btn icon >
          <v-icon color="primary">mdi-apps</v-icon>
        </v-btn>

        <v-toolbar-title>
          Customers
          </v-toolbar-title>

        <v-spacer></v-spacer>
        <template v-if="$vuetify.breakpoint.smAndUp">
          <!-- <v-btn color="error" @click.native="dialog = false" v-if="selected.length">
            <v-icon>delete</v-icon> Delete selected
          </v-btn> -->

          <v-btn color="primary" class="button-gradient" depressed @click.native="dialog = true">
            <v-icon>mdi-plus</v-icon> New customer
          </v-btn>

          

          <v-btn icon>
            <v-icon color="primary">mdi-dots-vertical</v-icon>
          </v-btn>
        </template>
      </v-toolbar>
      <v-divider></v-divider>
      <v-card-title>       
          <v-spacer></v-spacer>
          <!-- <el-input placeholder="Please search" prefix-icon="el-icon-search" v-model="search"></el-input> -->
          <v-text-field
              v-model="search"
              append-icon="search"
              label="Search"
              outlined
              color="accent"
          ></v-text-field>
      </v-card-title>
      <v-card-text>

        <v-data-table
          v-model="selected"
          :headers="headers"
          :items="customers.items"
          :single-select="singleSelect"
          :search="search"
          item-key="id"
          show-select
          class="elevation-0"
          :loading="isLoading"
          loading-text="Loading data..."
        >

          <template v-slot:item.avatar="{ item }">
            <v-avatar size="34">
              <img
                :src="item.avatar"
                :alt="item.name"
              >
            </v-avatar>
          </template>

          <template v-slot:item.name="{ item }">
            <router-link :to="`/customer/invoices/${item.id}`">{{item.name}}</router-link>
          </template>
          
          <template v-slot:item.action="{ item }">
            <v-icon small class="mr-2" @click="editItem(item)" >
              mdi-pencil
            </v-icon>
            <v-icon small @click="deleteItem(item)" >
              mdi-delete
            </v-icon>
          </template>
        </v-data-table>
      </v-card-text>
      <snack-bar v-if="successMessage" :color="'success'" :text="successMessage"></snack-bar>
      <snack-bar v-if="errorMessage" :color="'error'" :text="errorMessage"></snack-bar>
    </v-card>

    <v-dialog v-model="dialog" max-width="500px" persistent scrollable>
      <v-card>
        <v-card-title class="primary--text">
          <v-toolbar-title>{{ formTitle }}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn fab @click="close" color="primary" x-small>
            <v-icon>close</v-icon>
          </v-btn>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <div class="space-20"></div>
          <v-form ref="form" lazy-validation>
            <div class="mt-5"></div>
              <v-text-field v-model="form_data.name" :rules="[rules.required]" label="Name" placeholder="name" outlined clearable></v-text-field>
              <v-text-field v-model="form_data.address" :rules="[rules.required]" label="Address" placeholder="address" outlined clearable></v-text-field>
                            
              <v-text-field v-model="form_data.avatar" :rules="[rules.required]" label="Avatar" outlined placeholder="avatar" clearable></v-text-field>
               
          </v-form>
          
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions class="grey lighten-4">
          <v-btn color="error darken-1" depressed dark @click.native="close">Cancel</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" depressed dark @click.native="checkAction(form_data.id)">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
  /* eslint-disable no-console */
  import { mapActions, mapState } from 'vuex'
  import SnackBar from '@/components/commons/SnackBar.vue'
  export default {
    components: {
      SnackBar
    },
    data () {
      return {
        dialog: false,
        show1: false,
        singleSelect: false,
        id: 0,
        search: '',
        pagination: {},
        selected: [],
        tab: null,
        uid: null,
        headers: [
          { text: '#', sortable: true, value: 'id' },
          { text: '', sortable: true, value: 'avatar' },
          { text: 'Name', sortable: true, value: 'name' },
          { text: 'Address', sortable: true, value: 'address' },
          { text: 'Created at', sortable: true, value: 'createdAt' },
          { text: 'Action', value: 'action', sortable: false }
        ],
        editedIndex: -1,
        form_data: {
          id: 0,
          name: null,
          address: null,
          avatar: null,
        },
        default_data: {
          id: 0,
          name: null,
          address: null,
          avatar: null,
        }
      }
    },
    beforeCreate: function () {
      if (!this.$session.exists()) {
        this.$router.push('/logout/')
      }
    },
    created () {
      // this.$store.dispatch('getCustomers')
    },
    computed: {
      back () {
        return this.$router.go(-1)
      },
      pages () {
        if (this.pagination.rowsPerPage == null ||
          this.pagination.totalItems == null
        ) return 0

        return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
      },
      page () {
        return this.$route.params['page'] ? this.$route.params['page'] : 1
      },
      formTitle () {
        return this.editedIndex === -1 ? 'New customer' : 'Edit customer'
      },
      ...mapState([
        'isLoading',
        'errorMessage',
        'successMessage',
        'rules',
        'customers',
        'roles',
        'rowsPerpage',
        'user',
        'sex'
      ])
    },
    methods: {
      close () {
        this.dialog = false
        setTimeout(() => {
          this.form_data = Object.assign({}, this.default_data)
          this.editedIndex = -1
        }, 300)
      },
      ...mapActions([
        // 'getRates'
      ]),
      addCustomer () {
        if (this.$refs.form.validate()) {
          this.$store.dispatch('addCustomer', this.form_data)
          this.close()
        }
      },
      updateCustomer (id) {
        if (this.$refs.form.validate()) {
          this.$store.dispatch('updateCustomer', {id: id, data: this.form_data})
          this.close()
        }
      },
      deleteCustomer (id) {
        this.$store.dispatch('deleteCustomer', id)
        console.log('working...' + id)
      },
      checkAction: function (id) {
        if (id === 0) {
          this.addCustomer()
        } else {
          this.updateCustomer(id)
        }
        console.log('working...' + id)
      },
      editItem (item) {
        this.editedIndex = this.customers.items.indexOf(item)
        this.form_data = Object.assign({}, item)
        this.dialog = true
      },
      deleteItem (id) {
        confirm('Are you sure you want to delete?') && this.deleteCustomer(id)
      }
    },
    mounted: function () {
      // this.getDevices()
    },
    name: 'customers'
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
