<template>
  <div class="back-cover">
    <main-dashboad />
  </div>
</template>

<script>
import MainDashboad from '@/components/commons/MainDashboad'
export default {
  components: {
    MainDashboad
  }
}
</script>

<style>

</style>