<template>
  <v-container fluid class="back-cover">
    <v-card>
      <v-toolbar
        class="elevation-0 primary--text"
        light
      >
        <v-btn icon @click.native="back" >
          <v-icon color="primary">arrow_back</v-icon>
        </v-btn>

        <v-toolbar-title>
          Invoice no. {{single_invoice.invoice_no}}
          </v-toolbar-title>

        <v-spacer></v-spacer>
        <template v-if="$vuetify.breakpoint.smAndUp">
          <!-- <v-btn color="error" @click.native="dialog = false" v-if="selected.length">
            <v-icon>delete</v-icon> Delete selected
          </v-btn> -->

          <v-btn color="primary" class="button-gradient" depressed @click.native="dialog = true">
            <v-icon>mdi-plus</v-icon> New item
          </v-btn>

          

          <v-btn icon>
            <v-icon color="primary">mdi-dots-vertical</v-icon>
          </v-btn>
        </template>
      </v-toolbar>
      <v-divider></v-divider>
      <v-card-title>       
          <v-spacer></v-spacer>
          <!-- <el-input placeholder="Please search" prefix-icon="el-icon-search" v-model="search"></el-input> -->
          
      </v-card-title>
      <v-card-text>

        <div class="invoice-box">
          <table cellpadding="0" cellspacing="0">
              <tr class="top">
                  <td colspan="3">
                      <table>
                          <tr>
                              <td class="title">
                                  Pearl Innovations
                              </td>
                              <td></td>
                              
                              
                              <td>
                                  Invoice #: {{single_invoice.invoice_no}}<br>
                                  Created: {{single_invoice.createdAt}}<br>
                                  Due: {{single_invoice.due_date}}
                              </td>
                          </tr>
                      </table>
                  </td>
              </tr>
              
              <tr class="information">
                  <td colspan="3">
                      <table>
                          <tr>
                              <td>
                                  Future Link Technologies<br>
                                  Plot 97, Bukoto street <br />
                                  Kampala, Uganda
                              </td>
                              <td></td>
                              
                              <td>
                                  Pearl Innovations<br>
                                  Brian Bwire<br>
                                  bbwire2@gmail.com
                              </td>
                          </tr>
                      </table>
                  </td>
              </tr>
              
              <tr class="heading">
                  <td>
                      Item
                  </td>

                  <td>
                      Quantity
                  </td>
                  
                  <td>
                      Price
                  </td>
              </tr>
              
              <tr class="item" v-for="item in invoice_items" :key="item.id">
                  <td>
                      {{item.item_name}}
                  </td>

                  <td>
                      {{item.quantity}}
                  </td>
                  
                  <td>
                      {{item.item_price}}
                  </td>
              </tr>
              
              
              <tr class="total">
                  <td></td>
                  <td></td>
                  
                  <td>
                    Total: $385.00
                  </td>
              </tr>
          </table>
      </div>
        
      </v-card-text>
      <snack-bar v-if="successMessage" :color="'success'" :text="successMessage"></snack-bar>
      <snack-bar v-if="errorMessage" :color="'error'" :text="errorMessage"></snack-bar>
    </v-card>

    <v-dialog v-model="dialog" max-width="500px" persistent scrollable>
      <v-card>
        <v-card-title class="primary--text">
          <v-toolbar-title>{{ formTitle }}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn fab @click="close" color="primary" x-small>
            <v-icon>close</v-icon>
          </v-btn>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <div class="space-20"></div>
          <v-form ref="form" lazy-validation>
            <div class="mt-5"></div>
            
            <v-autocomplete
              :items="products"
              v-model="form_data.item_name"
              label="Product name"
              placeholder="Select product"
              item-text="product_name"
              item-value="product_name"
              :rules="[rules.required]"
              class="space-bottom"
              outlined
            ></v-autocomplete>
              <v-text-field v-model="form_data.quantity" :rules="[rules.required]" label="Quantity" placeholder="quantity" outlined clearable></v-text-field>
              <v-text-field v-model="form_data.item_price" :rules="[rules.required]" label="Price" placeholder="price" outlined clearable></v-text-field>
                            
              
          </v-form>
          
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions class="grey lighten-4">
          <v-btn color="error darken-1" depressed dark @click.native="close">Cancel</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" depressed dark @click.native="checkAction(form_data.id)">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
  /* eslint-disable no-console */
  import { mapActions, mapState } from 'vuex'
  import SnackBar from '@/components/commons/SnackBar.vue'
  export default {
    components: {
      SnackBar
    },
    data () {
      return {
        dialog: false,
        show1: false,
        singleSelect: false,
        id: null,
        cid: null,
        search: '',
        pagination: {},
        selected: [],
        tab: null,
        uid: null,
        // invoice_total: 0,
        editedIndex: -1,
        form_data: {
          id: 0,
          invoiceId: null,
          item_name: null,
          item_price: null,
          quantity: null
        },
        default_data: {
          id: 0,
          invoiceId: null,
          item_name: null,
          item_price: null,
          quantity: null
        }
      }
    },
    beforeCreate: function () {
      if (!this.$session.exists()) {
        this.$router.push('/logout/')
      }
    },
    created () {
      this.id = this.$route.params.id
      this.cid = this.$route.params.cid
      this.$store.dispatch('getSingleInvoice', {id: this.id, customer_id: this.cid})
      this.$store.dispatch('getSingleCustomer', this.cid)
      this.$store.dispatch('getInvoiceItems', {invoice_id: this.id, customer_id: this.cid})
    },
    computed: {
      back () {
        return this.$router.go(-1)
      },
      pages () {
        if (this.pagination.rowsPerPage == null ||
          this.pagination.totalItems == null
        ) return 0

        return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
      },
      page () {
        return this.$route.params['page'] ? this.$route.params['page'] : 1
      },
      formTitle () {
        return this.editedIndex === -1 ? 'New invoice item' : 'Edit invoice item'
      },
      invoiceTotal () {
        var total;
        this.invoice_items.map(item => {
          total += item.price
        })

        return total
      },
      ...mapState([
        'isLoading',
        'errorMessage',
        'successMessage',
        'rules',
        'single_invoice',
        'single_customer',
        'invoice_items',
        'products'
      ])
    },
    methods: {
      close () {
        this.dialog = false
        setTimeout(() => {
          this.form_data = Object.assign({}, this.default_data)
          this.editedIndex = -1
        }, 300)
      },
      ...mapActions([
        // 'getRates'
      ]),
      addInvoiceItem () {
        if (this.$refs.form.validate()) {
          this.form_data.invoiceId = this.id
          this.form_data.customer_id = this.cid
          this.$store.dispatch('addInvoiceItem', {customer_id: this.cid, data: this.form_data})
          this.close()
        }
      },
      updateInvoiceItem (id) {
        if (this.$refs.form.validate()) {
          this.$store.dispatch('updateInvoiceItem', {id: id, data: this.form_data})
          this.close()
        }
      },
      deleteInvoiceItem (id) {
        this.$store.dispatch('deleteInvoiceItem', id)
        console.log('working...' + id)
      },
      checkAction: function (id) {
        if (id === 0) {
          this.addInvoiceItem()
        } else {
          this.updateInvoiceItem(id)
        }
        console.log('working...' + id)
      },
      editItem (item) {
        this.editedIndex = this.invoice_items.indexOf(item)
        this.form_data = Object.assign({}, item)
        this.dialog = true
      },
      deleteItem (id) {
        confirm('Are you sure you want to delete?') && this.deleteInvoiceItem(id)
      },
      getInvoiceTotal () {
        this.invoice_items.map(item => {
          this.invoice_total += item.price
        })
      }
    },
    mounted: function () {
      // this.getInvoiceTotal()
    },
    name: 'invoice-details'
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
