<template>    
    <div>
      <div v-for="(item, i) in items" :key="item.id">

        <div v-if="item.items">
          <v-list-group
            :key="item.title"
            v-model="item.active"
            :prepend-icon="item.icon"
            no-action
          >
            <template v-slot:activator>
              <v-list-item-content>
                <v-list-item-title v-text="item.title"></v-list-item-title>
              </v-list-item-content>
            </template>

            <v-list-item
              v-for="subItem in item.items"
              :key="subItem.title"
              link
              :to="subItem.path"
            >
              <v-list-item-content>
                <v-list-item-title v-text="subItem.title"></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-group>
        </div>
        <div v-else>
          <v-list-item
            :key="i"
            link
            :to="item.path"
          >
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  data () {
    return {
      items: [
        {
          icon: 'mdi-home',
          title: 'Home',
          path: '/'
        },
        {
          icon: 'mdi-newspaper',
          title: 'Invoices',
          path: '/invoices/'
        },
        {
          icon: 'mdi-format-list-bulleted',
          title: 'Products',
          path: '/products/'
        },
        {
          icon: 'mdi-account-multiple',
          title: 'Customers',
          path: '/customers/'
        },
        {
          icon: 'mdi-account-multiple',
          title: 'Users',
          path: '/users/'
        },
        // {
        //   icon: 'mdi-account',
        //   title: 'Profile',
        //   path: '/profile/'
        // },
        // {
        //   icon: 'mdi-lock',
        //   title: 'Logout',
        //   path: '/logout/'
        // }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Client'
    }
  }
}
</script>

<style>

</style>
