<template>
  <div >
    <v-container fluid class="back-cover" grid-list-md text-md-center text-xs-center>
      <v-layout row wrap class="summary-cards">
      <v-flex md4 sm6 xs12>
        <v-card ripple outlined class="text-md-center indigo--text border-indigo elevation-0" to="/products/">
          <v-card-text primary-title center class="uppercase">
            <p class="headline">{{products.length}}</p>
            <p>
              <v-icon class="indigo--text">menu</v-icon> 
              Products
            </p>
          </v-card-text>
        </v-card>
      </v-flex>

      <v-flex md4 sm6 xs12>
        <v-card outlined class="text-md-center green--text elevation-0" to="/customers/" ripple >
          <v-card-text center class="px-0 uppercase">
            <p class="title">{{customers.items.length}}</p>
            <p>
              <v-icon class="green--text">contacts</v-icon> 
              Customers
            </p>
          </v-card-text>
        </v-card>
      </v-flex> 

      <v-flex md4 sm6 xs12>
        <v-card outlined class="text-md-center accent--text elevation-0" to="/users/" ripple>
          <v-card-text center class="px-0 uppercase">
            <p class="headline">{{users.length}}</p>
            <p>
              <v-icon class="accent--text">people</v-icon> 
              Users
            </p>
          </v-card-text>
        </v-card>
      </v-flex>
      
    </v-layout>
    </v-container>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'MainDashboad',
  components: {
    // 
  },
  data () {
    return {
      date: new Date().toISOString().substr(0, 10),
    }
  },
  created () {
    // 
  },
  computed: {
    ...mapState([
      'user',
      'products',
      'users',
      'customers'
    ])
  }
}
</script>

<style>

</style>
