<template>
  <v-container fluid>
    <v-alert
      :value="true"
      color="success"
      icon="check_circle"
      outlined
      dark
    >
      Redirecting please wait...
    </v-alert>
  </v-container>
</template>

<script>
export default {

}
</script>

<style>

</style>
