<template>
  <v-app>
    <v-navigation-drawer
      light
      width="240"
      :clipped="true"
      app
      v-model="drawer"
      :mini-variant="miniVariant"
      v-if="menu_display"
      class="elevation-24"
    >
      <NavigationMenu />

    </v-navigation-drawer>
    <v-app-bar
      color="indigo"
      class="elevation-2"
      dark
      app
      clipped-left
      v-if="menu_display"
      short
    >
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title>Invoice App </v-toolbar-title>

      <v-spacer></v-spacer>

      <ToolbarExtras />
    </v-app-bar>

    <v-content>
      <router-view></router-view>
    </v-content>

  </v-app>
</template>

<script>
// import HelloWorld from './components/HelloWorld';
import { mapState } from 'vuex'
import NavigationMenu from './components/commons/NavigationMenu'
import ToolbarExtras from './components/commons/ToolbarExtras'
export default {
  name: 'App',
  components: {
    NavigationMenu,
    ToolbarExtras
  },
  data: () => ({
    uid: null,
    drawer: true,
    miniVariant: false,
    menu_display: true
  }),
  created () {
    this.$store.dispatch('getProducts')
    this.$store.dispatch('getUsers')
    this.$store.dispatch('getCustomers')
  },
  computed: {
    ...mapState([
      'isLoading',
      'successMessage',
      'errorMessage'
    ])
  }
};
</script>

<style>
  body {
    background: #efefef;
  }

  .v-content__wrap {
    background: #efefef;
  }

  .grey--background {
    background: #efefef;
  }

  
</style>
